/* pallete */
$color1: rgba(255, 126, 107, 1);
$color2: rgba(0, 1, 48, 1);
$color3: rgba(11, 57, 84, 1);
$color4: rgba(8, 126, 139, 1);
$color5: rgba(191, 215, 234, 1);

$blue: #087e8b;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$primary: $color2;
$secondary: $color4;
$primary-invert: $pink-invert;
$family-primary: $family-serif;
$danger: $color1;

@import '~bulma/bulma';

html {
  height: 100%;
  overflow: hidden;
}
