/* pallete */
$color1: rgb(255, 59, 31);
$color2: rgba(0, 1, 48, 1);
$color3: rgba(11, 57, 84, 1);
$color4: rgba(8, 126, 139, 1);
$color5: rgba(191, 215, 234, 1);

$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$link: $color1;
$primary: $color4;
$secondary: $color1;
$family-primary: $family-serif;
$danger: $color1;

@import '~bulma/bulma';

html {
  height: 100%;
  overflow: hidden;
}

.container-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  &.panel-container-time {
  }
  &.panel-container-attributes {
  }
  &.map-container {
    .map-component {
      width: 100%;
      height: 100%;

      .map-base-layer-awmc {
        filter: grayscale(90%) sepia(50%) brightness(105%);
      }
    }
  }
}

$color-marker-icon-halo: white;
$color-marker-icon-radius: 1px;

.marker-icon-wrapper {
  div {
    position: absolute;
    border-radius: 50%;
  }

  .marker-icon-fill {
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    font-weight: 900;
    font-family: system-ui;
    text-shadow: 0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo,
      0 0 $color-marker-icon-radius $color-marker-icon-halo;
  }
  .marker-icon-certainty-circle {
    opacity: 0.4;
  }
  .marker-icon-stroke {
  }
}

.panel-container-attributes {
  padding: 10;
}

.panel-container-time {
  .panel-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin: 0;
  }
  .panel-time-component {
    position: absolute;
  }
  .panel-time-middle-component {
    padding: 10;
  }
  .panel-time-top-component {
    padding: 10;

    .panel-top-component-line {
      height: 50%;

      > div {
        vertical-align: middle;
      }
    }

    .select {
      margin-right: 5px;
    }

    .heading {
      padding-left: 0;
      padding-right: 5px;
    }

    &.panel-time-settings-wrapper {
      .settings-block {
        text-align: left;
        &.right {
          text-align: right;
        }
      }
    }

    &.panelfilter-wrapper {
      div {
      }
      .filter-column {
        margin-right: 10px;
      }
      .dropdown {
        .dropdown-menu {
          z-index: 2000;
          padding: 10px;
          .line {
            display: block;
            text-align: left;
            label.checkbox {
              line-height: 1;
            }
            .line-label {
              vertical-align: text-bottom;
              display: inline;
              font-weight: 500;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}

.modal {
  z-index: 3000;
}
