/* pallete */
$color1: rgba(255, 126, 107, 1);
$color2: rgba(0, 1, 48, 1);
$color3: rgba(11, 57, 84, 1);
$color4: rgba(8, 126, 139, 1);
$color5: rgba(191, 215, 234, 1);

$blue: #087e8b;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$primary: $color2;
$secondary: $color4;
$primary-invert: $pink-invert;
$family-primary: $family-serif;
$danger: $color1;

@import '~bulma/bulma';

html {
  height: 100%;
  overflow: hidden;
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  width: 100%;
  min-width: 100%;
}

.panel-container {
  bottom: 0;
  top: 50%;
}

.map-container {
  bottom: 50%;
  top: 0;
  .map-component {
    width: 100%;
    height: 100%;

    .map-base-layer-awmc {
      filter: grayscale(90%) sepia(50%) brightness(105%);
    }
  }
}

$color-marker-icon-halo: white;
.marker-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  padding-top: 9px;
  font-weight: 800;
  color: rgb(36, 36, 36);
  text-shadow: -1px 0 $color-marker-icon-halo,
    0 1px $color-marker-icon-halo, 1px 0 $color-marker-icon-halo,
    0 -1px $color-marker-icon-halo;
}

.map-marker {
  //border: 2px solid black;
  border-radius: 50%;
}
